* {
    font-size: 12px;
    font-family: 'Times New Roman';
}

td,
th,
tr,
table {
    border-top: 1px solid black;
    border-collapse: collapse;
}

td.description,
th.description {
    width: 100px;
    max-width: 100px;
    text-align: left;
}

    td.quantity,
    th.quantity {
        width: 40px;
        max-width: 40px;
        word-break: break-all;
        text-align: center;
    }

    td.price,
    th.price {
        width: 300px;
        max-width: 300px;
        text-align: right;
        word-break: break-all;
    }

.centered {
    text-align: center;
    align-content: center;
}

#left {
    text-align: left;
}

.ticket {
    width: 155px;
    max-width: 155px;
}

img {
    max-width: inherit;
    width: inherit;
}

@media print {
    .hidden-print,
    .hidden-print * {
        display: none !important;
    }
}