@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <label for="cars">choose a car:</label>

        <select id= "cars">
            <option value="mot">mot</option>
            <option value="hai">hai</option>
            <option value="ba">ba</option>
            <option value="bon">bon</option>
        </select>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">

        $(function () {

            $('#cars').chosen();

        });

    </script>
}